.card {
  display: flex;
  flex-direction: column;
  text-align: left;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  background-color: #fff;
}

.cardTitle {
  font-size: 16px;
  color: #333;
  margin-bottom: 5px;
}

.cardSubtitle {
  font-size: 12px;
  color: #666;
}
