.card {
  display: flex;
  flex-direction: column;
  text-align: left;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 3px;
  background-color: #fff;
}

.cardTitle {
  font-size: 28px;
  color: #065166;
  margin-bottom: 5px;
}

.cardSubtitle {
  font-size: 13px;
  color: #7fb7c7;
}

.cardContent {
  margin-top: 30px;
  padding-top: 30px;
  border-top: 1px dotted #a4cbd6;
}
